[submodule "src/app/lib/core"]
	path = src/app/lib/core
	url = git@github.com:liksoft/drewlabs-angular-domain.git
[submodule "src/app/lib/views/partials"]
	path = src/app/lib/views/partials
	url = git@github.com:liksoft/elewou-clarity-partial-components.git
[submodule "src/app/lib/views/login"]
	path = src/app/lib/views/login
	url = git@github.com:liksoft/drewlabs-clarity-login-component.git
[submodule "src/app/lib/views/styles"]
	path = src/app/lib/views/styles
	url = git@github.com:liksoft/elewou-light-styles.git
