<div class="item-wrapper" >
<ng-container *ngIf="data?.length ; else elseBlock">
 
    <div class="item item-color" >

      {{ data[pos].label}}
  
    </div>
    <ng-container *ngIf="data.length > pos+1 ; else elseBlock_">
      <div class="" >
        
        <grid-column [data]="data"  [pos]="pos+1"></grid-column>
    
      </div>
    </ng-container>
    <ng-template #elseBlock_>
        
        <div class="item-wrapper" *ngIf="pos >0 ">
          <div class="item item-color" >
      
            salaire de base
        
          </div>
          <div class="item item-color" >
      
            Poste
        
          </div>
         
          <div class="item item-color">
            
            .....
        
          </div>
          
    
      </div>
    </ng-template>
  
       

</ng-container>


<ng-template #elseBlock>

  <ng-container *ngIf="pos >0 ">
    <div class="item">

      ...
  
    </div>
    <ng-container >
      <div class="">
        
        <grid-column   [pos]="pos-1"></grid-column>
    
      </div>
    </ng-container>
  </ng-container>
     

</ng-template>
</div>