
<div class="item-wrapper">
  <ng-container *ngIf="data ; else elseBlock__">

    <div class="item" >
      {{ data?.base_salary }}
    </div>
    <div class="item" >
      
      <ng-container *ngIf="data?.classe_positions.length > 0 " >
        <ng-container *ngFor="let item of data.classe_positions">

        

                  {{ item?.position.label }} <br>
              
        </ng-container>
      </ng-container>
      
    </div>
  
    <div class="item ">
      ...
    </div>
  </ng-container>

  <ng-template #elseBlock__>

    <div class="item" >
      ...
    </div>
    <div class="item" >

      ...
      
    </div>
  
    <div class="item ">
      ...
    </div>
       
  
  </ng-template>

</div>
  
