<div class="clr-row welcome-admin">
  <div class="clr-col-12 text-section">
    <h1 class="clr-col-12 welcome-text">Créer une entrée</h1>
    <!-- <p>We are very proud to welcome you everyday on this management dashboard of your platform. Please feel free but
      cautiously to access all the areas of this dashboard.</p> -->
  </div>
</div>

<div class="dashboard-preview">
  <div class="clr-row page-content">
    <div class="clr-col-9 view-area data-area">
      <div class="clr-row clr-col-12 btn-group btn-primary">
        <button type="button" class="btn" (click)="Refresh()">
          <clr-icon shape="sync" size="25"></clr-icon>
          Recommencer
        </button>
      </div>

      <h3 class="clr-col-md-12">Nouveau Centre</h3>
      <form
        class="clr-form"
        *ngIf="formGroup"
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit(formGroup)"
      >
        <app-dynamic-form-wapper
          [componentFormGroup]="formGroup"
          [form]="form"
        ></app-dynamic-form-wapper>
        <br />
        <div class="clr-col-md-12 btn-group btn-primary">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formGroup.invalid"
            *ngIf="updating == false"
          >
            <clr-icon shape="floppy"></clr-icon> Valider
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onUpdate(formGroup)"
            [disabled]="formGroup.invalid"
            *ngIf="updating == true"
          >
            <clr-icon shape="sync"></clr-icon> Modifier
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancel()"
            *ngIf="updating == true"
          >
            <clr-icon shape="times"></clr-icon> Annuler
          </button>
        </div>
      </form>
      <ng-template ad-Host></ng-template>
      <button
        type="button"
        class="btn btn-success"
        (click)="addComponent()"
        *ngIf="updating == true"
      >
        <clr-icon shape="times"></clr-icon> plus
      </button>
    </div>
  </div>
</div>
