<div class="clr-row welcome-admin">
  <div class="clr-col-6 text-section">
    <h1 class="welcome-text">Liste des articles </h1>
    <p>We are very proud to welcome you everyday on this management dashboard of your platform. Please feel free but
      cautiously to access all the areas of this dashboard.</p>

  </div>
</div>
<div class="clr-row page-content">
  <div class=" {{ gridSize }} view-area data-area">

    <div class="dashboard-preview">



      <div class="table-container">
        <clr-datagrid>
          <clr-dg-action-bar>
            <!-- <a routerLink="/app/add-Material"> -->
            <button type="button" class="btn btn-primary" (click)="Add()">
              <clr-icon shape="plus-circle" size="25"></clr-icon>
              Nouveau
            </button>
            <!-- </a> -->

            <button type="button" class="btn" (click)="Relaod()">
              <clr-icon shape="sync" size="25"></clr-icon>
              Actualiser
            </button>
          </clr-dg-action-bar>

          <clr-dg-column [clrDgField]="'article'" >
            Articles
          </clr-dg-column>

          <clr-dg-column [clrDgField]="'supplier'" >
            Loboratoires
          </clr-dg-column>

          <clr-dg-column [clrDgField]="'supplier'" >
            Type
          </clr-dg-column>

          <clr-dg-column [clrDgField]="'created_at'" >
            Date de création
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'updated_at'" >
            Dernière modification
          </clr-dg-column>


          <clr-dg-row *clrDgItems="let material of data" [clrDgItem]="material">
            <clr-dg-action-overflow>

              <a routerLink="/app/material/calender/{{ material.id }}" id="btnLigne">
                <button class="btn btn-sm btn-link btn-block">
                  <clr-icon shape="calendar" size="20"></clr-icon>
                  Articles
                </button>
              </a>
              <hr class="hr1" />

              <button
                class="btn btn-sm btn-link btn-block"
                (click)="onEdit(material)"
              >
                <clr-icon shape="pencil" size="20"></clr-icon>
                Modifier
              </button>

              <!-- <button class="action-item" (click)="deleteData(material.id)">
                  Archiver
                </button> -->
            </clr-dg-action-overflow>
            <clr-dg-cell >{{ material.article_name?.label }}</clr-dg-cell>
            <clr-dg-cell >{{ material.supplier?.label }}</clr-dg-cell>
            <clr-dg-cell >{{ material.type_name }}</clr-dg-cell>



            <clr-dg-cell >{{
              material.created_at | date
            }}</clr-dg-cell>

            <clr-dg-cell >{{
              material.updated_at | date
            }}</clr-dg-cell>




          </clr-dg-row>



          <clr-dg-footer >
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
                Matériels par page
              </clr-dg-page-size>
              {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} ..
              {{ pagination.totalItems }} Matériels
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>


    </div>
  </div>



</div>

<div class="clr-col-sm-3 modal-h" *ngIf="showUp">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button
          aria-label="Close"
          class="close"
          type="button"
          (click)="Cansel()"
        >
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Nouvelle Intervalle</h3>
      </div>
      <div class="modal-body">


            <form class="clr-form" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
              <app-dynamic-form-wapper [componentFormGroup]="formGroup" [form]="form"></app-dynamic-form-wapper>
              <div class=" form button-container">
                <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid" *ngIf="updating == false">
                  <clr-icon shape="floppy"></clr-icon> Valider
                </button>
                <button type="button" class="btn btn-primary" (click)="onUpdate(formGroup)" [disabled]="formGroup.invalid"
                  *ngIf="updating == true">
                  <clr-icon shape="sync"></clr-icon> Modifier
                </button>
                <button type="button" class="btn btn-danger" (click)="onCancel()" *ngIf="updating == true">
                  <clr-icon shape="times"></clr-icon> Annuler
                </button>
              </div>
            </form>


      </div>
    </div>
  </div>
</div>
