$colors: (
  "blue":#0f458d,
  "yellow":#ead270
);
@each $name, $color in $colors {
  .text-color-#{$name}{
    color: $color;
  }
  .bg-color-#{$name}{
    background-color: $color;
  }
}


@mixin color-blue{
  color: map-get($colors, "blue");
}
