/* Modal */

.modal-header {
    border-bottom: none;
    padding: 1rem;
    background: #f1f1f1;
}

.modal-footer {
    /* padding: 1rem; */
}

.modal-body {
    padding: 0rem 1rem !important;
}

.modal-dialog .modal-content {
    padding: 0;
}

.modal-title span.title-desc {
    font-size: 14px !important;
}