<!-- <div class="clr-row welcome-admin">
  <div class="clr-col-12 text-section">
    <h1 class="welcome-text">Welcome to your Dashboard!</h1>
    <p>We are very proud to welcome you everyday on this management dashboard of your platform. Please feel free but
      cautiously to access all the areas of this dashboard.</p>
    <div class="caution-message">
      <p><strong>Be Careful : </strong>You are here because you know what is your responsibilities, anything you add
        or modify should affect the users of your system.</p>
      <p>If you are new here, please carefully <button class="btn btn-sm">
          <clr-icon shape="book"></clr-icon> check the docs
        </button></p>
    </div>
  </div>
</div> -->

<div class="app-page-header clr-row">
  <div class="clr-col-sm-12">
    <div class="page-title">
      <div class="card-header">
        <h2>Welcome to your Dashboard!</h2>
      </div>
    </div>
  </div>
</div>

<div class="clr-col-12">
  <div class="clr-row">
    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          Utilisateurs
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon class="clr-col-3" shape="users" size="50"></clr-icon>
            <div class="clr-col-9">
              Ajoutez, modifier ou supprimez des utilisateurs
            </div>
          </div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-lg btn-app" [routerLink]="listUserRoutePath">
            <clr-icon shape="users"></clr-icon> Gérer les utilisateurs
          </button>
        </div>
      </div>
    </div>

    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          Rôles et autorisations
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon class="clr-col-3" shape="file-group" size="50"></clr-icon>
            <div class="clr-col-9">
              Ajoutez, modifier ou supprimez des utilisateurs
            </div>
          </div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-lg btn-app" [routerLink]="listUserRoutePath">
            <clr-icon shape="file-group"></clr-icon> Gérer les Rôles
          </button>
        </div>
      </div>
    </div>

    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          Formulaires
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon class="clr-col-3" shape="form" size="50"></clr-icon>
            <div class="clr-col-9">Gérer les formulaires dynamiques</div>
          </div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-lg btn-app" [routerLink]="listUserRoutePath">
            <clr-icon shape="form"></clr-icon> Gérer les formulaires
          </button>
        </div>
      </div>
    </div>

    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          Modules
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon class="clr-col-3" shape="view-cards" size="50"></clr-icon>
            <div class="clr-col-9">Gestion des modules de l'application</div>
          </div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-lg btn-app" [routerLink]="listUserRoutePath">
            <clr-icon shape="view-cards"></clr-icon> Gérer les modules
          </button>
        </div>
      </div>
    </div>

    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          Départements
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon
              class="clr-col-3"
              shape="organization"
              size="50"
            ></clr-icon>
            <div class="clr-col-9">
              Gérer les Départements et divisions de l'entreprise
            </div>
          </div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-lg btn-app" [routerLink]="listUserRoutePath">
            <clr-icon shape="organization"></clr-icon> Gérer les départements
          </button>
        </div>
      </div>
    </div>

    <div class="clr-col-md-4 clr-col-12">
      <div class="card big-card">
        <div class="card-header">
          <clr-icon shape="drag-handle-corner" size="30"></clr-icon>
          Configurations Générales
        </div>
        <hr />
        <div class="card-block">
          <div class="clr-row">
            <clr-icon class="clr-col-3" shape="cog" size="50"></clr-icon>
            <div class="clr-col-9">
              Gérer les paramètres personnalisés du système
            </div>
          </div>
        </div>
        <br />
        <div class="card-footer">
          <button class="btn btn-lg btn-app" [routerLink]="listUserRoutePath">
            <clr-icon shape="cog"></clr-icon> Configurer le système
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
