/* header */

.header.header-6,
header.header-6 {
    background-color: #08375C;
}


/* Header Search */

.header .search label::before,
.header .search-box label::before,
header .search label::before,
header .search-box label::before {
    margin-right: 10px;
}

.header .branding .title,
header .branding .title {
    color: #0076b8;
}

.main-container .content-area {
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
}

.main-container .page-title {
    margin: 0;
}

.centered-loader {
    margin: 25% auto;
    // margin: 0 auto;
    width: 18rem;
}