/* You can add global styles to this file, and also import other style files */
/* Redifining sass variables */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;

  --box-shadow-color: 
}

.dashboard-preview {
  padding: 1rem 2.2rem !important;
}

.content-area .card:first-of-type {
  margin: 10px;
}

.card {
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  // transition: 1s;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px rgba(0, 0, 0, 0.11);
}

.card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card:hover .circle {
  border-color: var(--grayishBlue);
  background: var(--cyan);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

@media (max-width: 768px) {
  .dashboard-preview {
    padding: 1rem !important;
  }
}
