<clr-main-container>
  <app-top-bar
    [routesMap]="routesMap"
    [applicationName]="'Vacci-Test'"
    [moduleName]="'Administration'"
    [routeDescriptions]="routeDefinitions"
  ></app-top-bar>
  <div class="content-container">
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      class="nav-trigger--bottom"
      [clr-nav-level]="1"
    >
      <app-point-nav></app-point-nav>
    </clr-vertical-nav>
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
